{% extends 'user/user_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="#">
        <img src="https://img.favpng.com/0/8/4/world-icon-travel-icon-airport-icon-png-favpng-2TSQUTA0P4R1GWWnn0vuzMXX0.jpg"
            width="30" height="30" alt="logo">
        My Trips
    </a>
    <a class="navbar-brand" href="{% url 'user_profile' %}">
        <img src="https://p7.hiclipart.com/preview/8/36/11/computer-icons-google-account-user-profile-iconfinder-com-png-icons-download-profile.jpg"
            width="30" height="30" alt="logo">
        My Profile
    </a>
    <a class="navbar-brand" href="{% url 'change_password' %}">
        <img src="https://library.kissclipart.com/20181208/qqw/kissclipart-cyber-security-lock-png-clipart-computer-security-e5885498dc62118e.jpg"
            width="30" height="30" alt="logo">
        Change Password
    </a>
</nav>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center text-black pt-5">Change Your Account Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Save changes</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>



{% endblock %}