{% extends 'admin/admin_base.html' %}

{% block content %}

<!-- DataTales Example -->
<h4 style="text-align: center;">All Booking History</h4> 
<!-- <span><a href="{% url 'PackageCreateView' %}" class="btn btn-primary">Add a New Package</a></span> -->
<br><br>
<table class="table" id="dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark" >
                    <tr>
                        <th scope="col">Package Name</th>
                        <th scope="col">full Name</th>
                        <th scope="col">Travel Date</th>
                        <th scope="col">Total Participants</th>
                        <th scope="col">Booking Status</th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th scope="col">Package Name</th>
                        <th scope="col">full Name</th>
                        <th scope="col">Travel Date</th>
                        <th scope="col">Total Participants</th>
                        <th scope="col">Booking Status</th>
                      

                    </tr>
                </tfoot>
                <tbody>
                     {% for i in all_booking %}

                     <tr>
                        <td>{{i.package}}</td>
                         <td>{{i.full_name}}</td>
                         <td>{{i.select_date}}</td>
                         <td>{{i.participants}}</td>
                         <td>{{i.booking_status}}</td>
                        
                         <!-- <td><a href="{% url 'package_edit' i.id %}">Edit</a></td>
                         <td><a href="{% url 'package_delete' i.id %}">Delete</a></td>
                         <td><a href="{{ i.get_absolute_url }}">View</a></td> -->
                     </tr>
                     {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
 {% endblock %}
    {% block js %}

{% endblock %}