{% extends 'profile_base.html' %}
{% load static %}
{% block content%}
    
                <script>var isDebug='';</script>
<script>var themeBaseUrl="themes/rupa/index.html";</script>
<!-- <div class="overlay" id="loading_spinner"><span class="spinner-circle"></span></div> -->
<span class="bloader" style="display: none "></span>
<div class="modal-wrap login-signup">
    <div class="modal-holder">
        <div id="login-dom" class="l-wrap"></div>
    </div>
</div>
	<!-- intro banner begins -->
	<!-- saroj, saman -->
	<div class="intro-banner">
	<div class="video-holder">
		<div class="video">
		<video id="bookmundi-video" preload="auto" width="1920" height="1080" playsinline autoplay muted loop poster="../d3hne3c382ip58.cloudfront.net/resources/home/videos/fallbackvideo.jpg"><source src="{% static 'video/video.mp4' %}" type="video/mp4">Your browser does not support the video tag.</video>
		</div>
	</div>
	<button id="video-button" onclick="playPause()" class="hidden-xs"><span class="icon-pause play-pause"></span><span class="sr-only">Video Paused. Click to Play</span></button>
	<div class="intro-holder">
		<div class="container">
			<!-- default home banner begins -->
			<div class="intro-frame a animate__animated" id="default-home">
				<h1>Tours and Trip packages, Globally</h1>
				<p>Search, compare and book 15,000+ multiday tours all over the world.</p>
				<div class="main-search animate__animated" id="top-search">
					<!-- add 'animate__shakeX' class to shake when nothing is selected -->
					<div class="loc">
						<form action="{% url 'login_view_package' %}" method="get">
							<span class="icon-pin"></span><label for="where-going">LOCATION</label>
							<input name="city" type="text" class="form-control" placeholder="Where are you going?" autocomplete="off">
							<input type="submit" value="Search" class="submit" />
						</form>
					</div>
					
				
				</div>
			</div>
			<!-- default home banner ends -->

			<!-- customize trip banner begins -->
			
		
		</div>
		
	</div>	
	<a href="javascript:void(0)" class="how-it-works" id="how-link">How it works</a>
	<span class="intro-arrow"><svg viewBox="0 0 14832 55"><path d="M7501.307 8.517l-68.043 39.341c-10.632 6.185-23.795 6.185-34.528 0l-68.144-39.34c-8.91-5.173-18.988-8.215-29.316-8.518H0v55h14832V0H7530.671a63.604 63.604 0 0 0-29.364 8.517z"></path></svg></span>
	<!-- default home one end -->
</div>	<!-- intro banner ends -->

	<!-- top intro part begins -->
	<!-- saman, saroj -->
	<!-- <div class="top-intro animate__animated" id="default-show-hide">
		<div class="container">
			
		</div>
	</div>	 -->
	
	<!-- top intro part ends -->


	<!-- Trip Planner how it works begins -->
	<!-- saman, saroj -->
	<div class="top-intro animate__animated" id="tp-show-hide">
		<div class="container">
			<strong class="intro-title">How it works</strong>
			<!-- trip planner how it works begins -->
			<div class="benefits-block tp">
				<div class="benefits tpc">
					<strong class="title">
						<span>1</span>
						<b>SUBMIT <span>TRIP DETAILS</span></b>
					</strong>
					<p>Submit your tour ideas and thoughts. Our trip questionnaire will ask some key questions that you need to consider when we help plan the perfect tour package for you.</p>
				</div>
				<div class="benefits tpc">
					<strong class="title">
						<span>2</span>
						<b>CONNECT WITH A TRAVEL EXPERT</b>
					</strong>
					<p>Based on your trip input, we will connect you with an expert trip designer and architect who has first-hand, local knowledge of your trip destination(s). Together, you will build the perfect trip, suiting your trip ideas and requirements.</p>
				</div>
				<div class="benefits tpc">
					<strong class="title">
						<span>3</span>
						<b>SECURELY BOOK <span>YOUR TRIP</span></b>
					</strong>
					<p>Once the overall tour, including accommodations, level of activity, daily itinerary has been customized to your liking, you can securely book your trip.</p>
				</div>
			</div>
			<!-- trip planner how it works ends -->
		</div>
		<div class="adv-block">
			<div class="container">
				<strong class="intro-title">Advantages of customized tours</strong>
				<div class="benefits-block">
					<div class="benefits">
						<strong class="title one">
							<span class="icon-roll-o-plane"></span>
							<b>LOCAL <span>INSIGHT</span></b>
						</strong>
						<p>The expert trip designer will have first-hand, local insight and knowledge about your trip destinations, allowing them to give you a memorable, meaningful trip experience.</p>
					</div>
					<div class="benefits">
						<strong class="title two">
							<span class="icon-payment"></span>
							<b>PERSONALIZATION</b>
						</strong>
						<p>The trip duration, itinerary, type of accommodation, level of activity, budget etc. will be all be personalized per your requirements, ensuring that we are building a trip that 100% matches your needs.</p>
					</div>
					<div class="benefits">
						<strong class="title three">
							<span class="icon-review"></span>
							<b>TRAVEL LIKE <span>A PRO</span></b>
						</strong>
						<p>Think of our trip designers as your ticket backstage. Special access, favourable prices and local insight. Their role is to make sure that your entire trip is perfectly planned and run in a professional, secure and stress-free manner.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Trip planner how it works ends -->

	<!-- top destinations begins -->
	<!-- ashok, saman -->
	<section class="section" id="top-destination-view">
        <div class="container" id="top-destination-container">
            <div class="section-heading">
                <div class="left-heading">
                    <h2><span>Top</span> Destinations</h2>
                    <p>Our top destinations. See them by continent.</p>
                </div>
               
            </div>
            <ul class="dest-list active animate__animated" data-continent="topdestination">
                				<li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=dhaka">
                            <img src="{% static 'images/160783-1500.jpg' %}" alt="Dhaka" width="262" height="350" class="img-responsive"></a>
                    </div>
                    <h3><a href="{% url 'user_dashboard' %}package/location/?city=dhaka">Dhaka</a></h3>
                    
                </li>
                				<li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=sylhet">
                            <img src="{% static 'images/sylhet.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
                    </div>
                    <h3><a href="{% url 'user_dashboard' %}package/location/?city=sylhet">Sylhet</a></h3>
                    
                </li>
<li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=bandarban">
							<img src="{% static 'images/bandarban.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=bandarban">Bandarban</a></h3>
                </li>
                <li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=barishal">
							<img src="{% static 'images/barishal.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=barishal">Barishal</a></h3>
                </li>
                
                <li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=Khulna">
							<img src="{% static 'images/kuakata.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=Khulna">Khulna</a></h3>
				</li>
				<li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=noakhali">
							<img src="{% static 'images/noakhali.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=noakhali">Noakhali</a></h3>
                </li>
                <li>
					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=rangamati">
							<img src="{% static 'images/rangamati.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=rangamati">Rangamati</a></h3>
                </li>
                <li>

					<div class="img-holder">
						<a href="{% url 'user_dashboard' %}package/location/?city=coxsbazar">
							<img src="{% static 'images/cox.jpg' %}" alt="Argentina" width="262" height="350" class="img-responsive"></a>
					</div>
					<h3><a href="{% url 'user_dashboard' %}package/location/?city=coxsbazar">Cox's Bazar</a></h3>
                </li>
                            </ul>
        </div>
	</section>
    <!-- top destinations ends -->
	<!-- top deals begins -->
	<!-- ashok, saman -->
   	<!-- top deals ends -->

	<!-- featured trips begins -->
	<!-- saroj, saman -->

	

	<!-- featured trips ends -->

	<!-- trip planner block begins -->
	<!-- saroj, saman -->
	<section class="section">
		<div class="container">
			<div class="section-heading center">
				<div class="left-heading">
					<h2><span>Customize your trip</span> with an expert trip designer</h2>
					<p>Book your trip when it is perfectly designed and customized, just for you.</p>
				</div>
			</div>
			<div class="main-search planner-search animate__animated">
				<div class="loc">
					<form action="/user/custom/trip">
						<input type="submit" value="START CUSTOMIZING TRIP" />
					</form>
				</div>
				</div>
			<!-- expert slider begins -->
			<div class="expert-carousel slider-container">
				<div class="rewind" id="expertSlider">
					<div class="item">
						<a href="travel-expert/stefania-grillo-51172.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/1.jpg" width="220" height="220" class="img-responsive" alt="Stefania Grillo">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/tolly-byrne-68808.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/2.jpg" width="220" height="220" class="img-responsive" alt="Tolly Byrne">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/roberta-leverone-50241.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/3.jpg" width="220" height="220" class="img-responsive" alt="Roberta Leverone">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/jenny-caunt-42499.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/4.jpg" width="220" height="220" class="img-responsive" alt="Jenny Caunt">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/danilo-catania-63739.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/5.jpg" width="220" height="220" class="img-responsive" alt="Danilo Catania">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/antonio-mauriello-58727.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/6.jpg" width="220" height="220" class="img-responsive" alt="Antonio Mauriello">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/khum-subedi-44095.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/7.jpg" width="220" height="220" class="img-responsive" alt="Khum Subedi">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/andrew-skelly-62041.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/8.jpg" width="220" height="220" class="img-responsive" alt="Andrew Skelly">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/claire-plassart-48718.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/9.jpg" width="220" height="220" class="img-responsive" alt="Claire Plassart">
						</a>
					</div>
					<div class="item">
						<a href="travel-expert/thea-gillingham-47177.html" target="_blank" rel="noopener">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADcCAYAAAAbWs+BAAAB2UlEQVR42u3TMQ0AAAjAMNCEfzVo4McFB2klLFl2TwVwIg0HhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcIDhwHBgOMBwYDjAcGA4MBxgODAcYDgwHGA4MBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDgeEAw4HhAMOB4QDDgeHAcIDhwHCA4cBwYDjAcGA4wHBgOMBwYDgwHGA4MBxgODAcGA4wHBgOMBwYDjAcGA4MBxgODAcYDgwHhgMMB4YDDAeGA8PJAIYDwwGGA8MBhgPDgeEAw4HhAMOB4cBwgOHAcIDhwHCA4cBwYDjAcGA4wHBgODAcYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAeGMxwYDgwHGA4MBxgODAeGAwwHhgMMB4YDwwGGA8MBhgPDAYYDw4HhAMOB4QDDgeHAcIDhwHCA4cBwgOHAcGA4wHBgOMBwYDgwHGA4MBxgODAcGM5wYDgwHGA4MBxgODAcGA4wHBgOMBwYDgwHGA4MBxgODAcYDgwHhgMMB4YDDAeGA8MBhgPDAYYDwwGGA8OB4QDDgeEAw4HhwHCA4cBwgOHAcGA4w4Hh4KMF4H+Fg82aiWgAAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/experts/10.jpg" width="220" height="220" class="img-responsive" alt="Thea Gillingham">
						</a>
					</div>
				</div>
				<a href="javascript:void(0)" class="btn-prev" id="expert-slider-prev"><span class="sr">Previous</span><i class="icon-arrowhead7"></i></a>
				<a href="javascript:void(0)" class="btn-next" id="expert-slider-next"><span class="sr">Next</span><i class="icon-arrow487"></i></a>
			</div>
			<!-- expert slider ends -->
			<div class="recom-experts">
				<span class="t-count">Our travel experts are recommended by:</span>
				<ul class="recom-logo">
					
					<li class="b">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/press/independent2.png" alt="Independent" class="img-responsive">
					</li>
					<li class="c">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://d3hne3c382ip58.cloudfront.net/resources/home/press/lonelyplanet.png" alt="Lonelyplanet" class="img-responsive">
					</li>
				</ul>
			</div>

		</div>
	</section>	<!-- trip planner block ends -->

	<!-- travel guides block begins -->
	<!-- saman -->
	<div class="section bg-gray">
		<div class="container">
			<div class="section-heading">
				<div class="left-heading">
					<h2><span>Latest</span> Travel Blogs</h2>
					<p>View our travel guides giving you travel insights, ideas, and tips across the Bangladesh.</p>
				</div>
				
			</div>
			<div class="travel-guides">
				{% for blog in blog_post %}
				<div class="col">
		<div class="img-holder">
			<a href="{{ blog.get_absolute_url }}" target="_blank" rel="noopener">
				<img src="{{media_url}}{{blog.photo}}" alt="Excited traveler jumps in the air as the world reopens for travel again">
			</a>
		</div>
		<div class="guide-details">
									
									<h3 class="h3-title"><a href="{{ blog.get_absolute_url }}" target="_blank" rel="noopener">{{blog.title}}</a></h3>
			<span class="t-loc">{{blog.created}}</span>
		</div>
	</div>
	 {% endfor %}			
							</div>
		</div>
	</div>
	<!-- travel guides block ends -->

	<!-- Seo Destinations Links begins -->
	<!-- saman -->
	
	        
{% endblock %}
            
