{% extends 'admin/admin_base.html' %}

{% block content %}

    

    <!-- DataTales Example -->
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            <h5  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
            {% endfor %}
        </div>
        {% endif %}
    <h4 style="text-align: center;">Manage All User Information.</h4> 
    <span><a href="{% url 'admin_user_register' %}" class="btn btn-primary">Add New User</a></span><br><br>
    <table class="table" id="dataTable" width="100%" cellspacing="0">
        <thead class="thead-dark" >
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Login</th>
                            <th scope="col">Country</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Details</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Login</th>
                            <th scope="col">Country</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Details</th>

                        </tr>
                    </tfoot>
                    <tbody>
                         {% for enduser in all_user %}

                         <tr>
                            <td>{{enduser.user_id.username}}</td>
                             <td>{{enduser.user_id.email}}</td>
                             <td>{{enduser.user_id.full_name}}</td>
                             <td>{{enduser.user_id.last_login}}</td>
                             <td>{{enduser.country}}</td>
                             <td>{{enduser.dob}}</td>
                             <td><a href="{% url 'edit' enduser.user_id.pk %}">Edit</a></td>
                             <td><a href="{% url 'user_delete' enduser.user_id.pk %}">Delete</a></td>
                             <td><a href="#">View</a></td>
                         </tr>
                         {% empty %}
                        <tr><td scope="col">Currently no Data Available</td></tr>
                     {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
     {% endblock %}
        {% block js %}
            
    

{% endblock %}