{% extends 'package_base.html' %}

{% block content %}


<div id="login">
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="text-center text-black pt-5">Login your Account</h2>
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-2"></div>
                <div id="login-box" class="col-md-8">
                    <!-- <p>Registartion Successful!!</p> -->
                    <form  method="POST" action='.'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit" name="Registration">Submit</button>
                        <br>
                        {% for message in messages %}
                        <h5 id="messages">{{message}}</h5>
                        {% endfor %}
                        </form>
                </div>
                <div id="login-box" class="col-md-2"></div>
            </div>
        </div>

    </div>
    <br><br>
</div>

{% endblock %}